@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

/* Define color palette for the site */
:root {
  --main-text-color: #f1d75eff; /* naples-yellow */
  --btn-hover-color: #5cc8ffff; /* capri */
  --btn-focus-color: #5cc8ffff; /* capri */
  --main-bg-color: #297373ff; /* skobeloff */
  --btn-bg-color: #a72608ff; /* rufous */
  --menu-hover-color: #f7f0f5ff; /* magnolia */
  --btn-text-color: #f7f0f5ff; /* magnolia */

  --btn2-bg-color: #f7f0f5ff; /* magnolia */
  --btn2-text-color: #a72608ff; /* rufous */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--main-bg-color);
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: var(--main-text-color);
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.brand-logo {
  display: flex;
  align-items: center;
  font-size: 1.25em;
  color: inherit;
  text-decoration: none;
}

.brand-logo-name {
  margin-left: 1rem;
}

.main-nav ul,
.footer-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav a,
.footer-nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem;
}

.main-nav a:hover,
.footer-nav a:hover {
  color: var(--menu-hover-color);
}

.main-header,
.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header {
  height: 140px;
}

.main-footer {
  height: 70px;
  background-color: var(--main-bg-color);
  font-weight: bold;
}

.social-link img {
  width: 1em;
  margin-right: 0.25rem;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  flex-grow: 1;
}

.title {
  font-weight: 500;
  font-size: 3em;
  margin-bottom: 1rem;
  margin-top: 0;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 2rem;
}

.btn {
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn {
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--btn-hover-color);
}

.btn:focus {
  background-color: var(--btn-focus-color);
}

#plan_btn {
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

#plan_btn:hover {
  background-color: var(--btn-hover-color);
}

#plan_btn:focus {
  background-color: var(--btn-focus-color);
}

#plan_btn2 {
  color: var(--btn2-text-color);
  background-color: var(--btn2-bg-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

#plan_btn2:hover {
  background-color: var(--btn-hover-color);
}

#plan_btn2:focus {
  background-color: var(--btn-focus-color);
}

#budgetPlan_title {
  text-align: center;
  width: 1000px;
}

#budgetPlan_overall {
  height: 250px;
  width: 1000px;
  padding-top: 30px;
}

.budgetPlanText {
  height: 50px;
  width: 160px;
  border-radius: 0.5em;
}

.budgetPlan_inputs {
  padding-bottom: 25px;
  font-size: 30px;
}

#budgetPlan_Col1 {
  float: left;
  text-align: right;
  padding-left: 140px;
}

#budgetPlan_Col2 {
  float: right;
  text-align: right;
  padding-right: 140px;
}

.budgetPlan_buttons {
  padding-top: 80px;
  text-align: center;
  width: 1000px;
}

::placeholder {
  text-align: center;
}

#budgetPlan_message {
  padding-top: 50px;
  text-align: center;
}

#dashboard_title {
  text-align: center;
  margin-bottom: 2em;
}

#dashboard_expenditures_title {
  margin-top: 2em;
}

.dashboard_container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.dashboard_container .dashboard_cat_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.8rem;
  padding: 0.75rem;
  width: 200px;
  height: 200px;
  background: radial-gradient(white 90%, grey 100%);
  border-radius: 10px;
  border-color: grey;
  border-width: thick;
  border-style: solid;
}

.dashboard_container .dashboard_healthy_cat_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.8rem;
  padding: 0.75rem;
  width: 200px;
  height: 200px;
  background: radial-gradient(white 90%, green 100%);
  border-radius: 10px;
  border-color: green;
  border-width: thick;
  border-style: solid;
}

.dashboard_container .dashboard_unhealthy_cat_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.8rem;
  padding: 0.75rem;
  width: 200px;
  height: 200px;
  background: radial-gradient(white 90%, red 100%);
  border-radius: 10px;
  border-color: red;
  border-width: thick;
  border-style: solid;
}

.dashboard_container .dashboard_danger_cat_box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.8rem;
  padding: 0.75rem;
  width: 200px;
  height: 200px;
  background: radial-gradient(white 90%, orange 100%);
  border-radius: 10px;
  border-color: orange;
  border-width: thick;
  border-style: solid;
}

.cat_title {
  font-size: 20px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.value {
  font-size: 20px;
  font-weight: bold;
  flex-direction: column;
}

.balance_container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  border-radius: 0.5rem;
  align-items: center;
  justify-content: center;
}

.balance_container > div {
  flex: 1;
  text-align: center;
}

.balance_container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.add {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

/* GBH */
/* Added the following CSS for striped table. */
#transactions {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#transactions td,
#transactions th {
  border: 1px solid #ddd;
  padding: 8px;
}

#transactions tr:nth-child(even) {
  background-color: #abacaa;
  color: black;
}

#transactions tr:nth-child(odd) {
  background-color: #605f5e;
  color: black;
}

/*#transactions tr:hover {background-color: #ddd;}
*/

#transactions th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
}

.budgetPlanName {
  height: 50px;
  width: 550px;
  border-radius: 0.5em;
}

#budgetPlan_Name {
  width: 1000px;
  font-size: 30px;
  text-align: center;
}

#connect_btn {
  color: var(--btn-text-color);
  background-color: var(--btn-bg-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-size: 0.9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

#connect_btn:hover {
  background-color: var(--btn-hover-color);
}

#connect_btn:focus {
  background-color: var(--btn-focus-color);
}

#myLegend {
  display: none;
}

#myLegend th,
td {
  width: 180px;
  overflow: hidden;
}

#myChart {
  display: inline-block;
  padding-left: 100px;
}

ol li {
  font-size: 0.8em;
}
