/* GBH */
/* Added the following CSS for striped table. */
#transactions {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #transactions td, #transactions th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #transactions tr:nth-child(even){
    background-color: #abacaa;
    color: black;
  }
  
  #transactions tr:nth-child(odd){
    background-color: #605f5e;
    color: black;
  }
  
  /*#transactions tr:hover {background-color: #ddd;}
  */
  
  #transactions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #000000;
    color: white;
  }
  